body {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    background-color: #ffffff;
    overflow: hidden;
    justify-content: space-around;
}
.navbar a {
    flex: 1;
    display: block;
    color: #474747;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease;
}
.navbar a img {
    margin-right: 8px;
    width: 20px; /* 調整圖片寬度 */
    height: 20px; /* 調整圖片高度 */
}
.navbar a:hover img {
    opacity: 0; /* 懸停時隱藏圖片 */
}
.navbar a:nth-child(1):hover {
    background-color: #f3b944;
    color: #f0f0f0;
}
.navbar a:nth-child(2):hover {
    background-color: #ce3482;
    color: #f0f0f0;
}
.navbar a:nth-child(4):hover {
    background-color: #efa244;
    color: #f0f0f0;
}
.navbar a:nth-child(5):hover {
    background-color: #225285;
    color: #f0f0f0;
}
.navbar a::after {
    content: "Youtube";
    display: block;
    color: #333;
    background-color: #f2f2f2;
    padding: 8px;
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    white-space: nowrap;
}
.navbar a:hover::after {
    opacity: 1;
}
#viewDiv {
    height: 87vh;
}